.article {
    padding: 3rem 0;
}

.article-entry {
    margin-top: 3rem;
    @include clearfix();
    @extend .base-style;
    color: $body-color;
}

.article-topping {
    position: absolute;
    top: 0;
    left: -3rem;
    color: #ea434a;
    .fe {
        font-size: 2rem;
        line-height: 1.7;
    }
}

.article-header {
    position: relative;
    h1,h2 {
        margin: 0;
    }
    .article-title {
        text-decoration: none;
        color: $sea;
    }
}

.article-meta {
    @include clearfix();
    display: flex;
    align-items: center;
}
.article-date {
    @extend .block-caption;
    &::before {
        content: '\f10f';
        margin-right: .5rem;
        font-family: feathericon;
        opacity: .5;
    }
}
.article-category {
    @extend  .block-caption;
    margin-left: 1.5rem;
    &::before {
        content: '\f18c';
        font-family: feathericon;
        margin-right: .5rem;
    }
    a {
        text-decoration: none;
        color: #5c6b72;
    }
}

.article-tag-list{
    @include list-unstyled();
    margin: 0;
    display: flex;
    &::before {
        content: '\f153';
        font-family: feathericon;
        margin-right: .5rem;
    }
    .article-tag-list-item {
        padding-right: 1rem;
    }
    .article-tag-list-link {
        text-decoration: none;
    }
}

.article-footer {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-share-link {
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
    &:before {
        content: "\f14f";
        font-family: feathericon;
        padding-right: 6px;
    }
}

.articles {
    .article {
        padding: 3rem 0;
        &:not(:last-child) {
            border-bottom: $border-width $border-color solid;
        }
    }
    .article-footer {
        margin-top: 0;
    }
    .article-entry {
        margin-top: 0;
    }
    .article-gallery {
        position: relative;
        margin-top: 1.5rem;
    }
}

.article-nav {
    @include clearfix();
    position: relative;
    padding-top: 3rem;
    margin-top: 2rem;
    border-top: $border-width $border-color solid;
}

.article-nav-link {
    display: block;
    text-decoration: none;
    &:first-child {
        float: left;
    }
    &:last-child {
        float: right;
        text-align: right;
    }
}
.article-nav-caption {
    color: $sea-lighter;
}
.article-nav-title {
    font-size: inherit;
}

.article-more-link {
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    border-radius: 15px;
    background: #eee;
    color: #999;
    text-shadow: 0 1px #fff;
    text-decoration: none;
}
