@import "~github-markdown-css";

.article {
    padding: 3rem 0;
}

.article-entry {
    margin-top: 3rem;
    @include clearfix();
    @extend .base-style;
    color: $body-color;
}

.article-topping {
    position: absolute;
    top: 0;
    left: -3rem;
    color: #ea434a;
    .fe {
        font-size: 2rem;
        line-height: 1.7;
    }
}

.article-header {
    position: relative;
    h1,h2 {
        margin: 0;
    }
    .article-title {
        text-decoration: none;
        color: $sea;
    }
}

.article-meta {
    @include clearfix();
    display: flex;
    align-items: center;
}
.article-date {
    @extend .block-caption;
    &::before {
        content: '\f10f';
        margin-right: .5rem;
        font-family: feathericon;
        opacity: .5;
    }
}
.article-category {
    @extend  .block-caption;
    margin-left: 1.5rem;
    &::before {
        content: '\f18c';
        font-family: feathericon;
        margin-right: .5rem;
    }
    a {
        text-decoration: none;
        color: #5c6b72;
    }
}

.article-tag-list{
    @include list-unstyled();
    margin: 0;
    display: flex;
    &::before {
        content: '\f153';
        font-family: feathericon;
        margin-right: .5rem;
    }
    .article-tag-list-item {
        padding-right: 1rem;
    }
    .article-tag-list-link {
        text-decoration: none;
    }
}

.article-footer {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles {
    .article {
        padding: 3rem 0;
        &:not(:last-child) {
            border-bottom: $border-width $border-color solid;
        }
    }
    .article-footer {
        margin-top: 0;
    }
    .article-entry {
        margin-top: 0;
    }
    .article-gallery {
        position: relative;
        margin-top: 1.5rem;
    }
}

.article-nav {
    @include clearfix();
    position: relative;
    padding-top: 3rem;
    margin-top: 2rem;
    border-top: $border-width $border-color solid;
}

.article-nav-link {
    display: block;
    text-decoration: none;
    &:first-child {
        float: left;
    }
    &:last-child {
        float: right;
        text-align: right;
    }
}
.article-nav-caption {
    color: $sea-lighter;
}
.article-nav-title {
    font-size: inherit;
}

.article-more-link {
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    border-radius: 15px;
    background: #eee;
    color: #999;
    text-shadow: 0 1px #fff;
    text-decoration: none;
}

.about {
    .article-footer {
        justify-content: flex-end;
    }
}

.article-share-link {
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
    &:before {
        content: "\f14f";
        font-family: feathericon;
        padding-right: 6px;
    }
}

.article-share-box {
    position: absolute;
    display: none;
    background: white;
    border-radius: .4rem;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    margin-left: -145px;
    overflow: hidden;
    z-index: 1;
    &.on {
        display: block;
    }
}

.article-share-input {
    width: 100%;
    background: none;
    box-sizing: border-box;
    padding: 0 1.5rem;
    outline: none;
    border: none;
    border-bottom: $border-width $border-color solid;
    height: 3.6rem;
    line-height: 3.6rem;
}

.article-share-links {
    display: flex;
}

.article-link-item {
    width: 5rem;
    height: 3.6rem;
    color: $sea-dark;
    text-align: center;
    text-decoration: none;
    &::before{
        font-size: 20px;
        font-family: feathericon;
    }
    &:hover {
        color: white;
    }
}

.article-share-twitter {
    @extend .article-link-item;
    &::before {
        content: "\f1dd";
    }
    &:hover {
        background: $twitter-color;
        text-shadow: 0 1px darken($twitter-color,20%);
    }
}
.article-share-facebook {
    @extend .article-link-item;
    &::before{
        content: "\f1d4";
    }
    &:hover {
        background: $facebook-color;
        text-shadow: 0 1px darken($facebook-color,20%);
    }
}

.article-share-pinterest {
    @extend .article-link-item;
    &::before{
        content: "\f1db";
    }
    &:hover {
        background: $pinterest-color;
        text-shadow: 0 1px darken($pinterest-color,20%);
    }
}
.article-share-google {
    @extend .article-link-item;
    &::before{
        content: "\f1d8";
    }
    &:hover {
        background: $google-color;
        text-shadow: 0 1px darken($google-color,20%);
    }
}
