.navbar {
    position: relative;
    padding-top: 3rem;
    text-align: center;
    .nav {
        @include list-unstyled();
        .nav-item-link {
            display: block;
            padding: 1rem;
            color: $sea-dark;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            .fe {
                display: block;
            }
            &:hover {
                color: $link-hover-color;
            }
        }

    }
}

.navbar-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes rocket {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    45% {
        transform: translateY(-3.2rem);
        opacity: 0;
    }
    55% {
        transform: translateY(3.2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.totop {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    @include rounded-circle(3.2rem);
    background-color: $froth-light;
    line-height: 3rem;
    &:hover > i {
        animation: rocket .3s ease-in-out;
    }
}

.logo {
    text-align: center;
    width: 4.2rem;
    height: 4.2rem;
    margin: 0 auto;
    img {
        width: $brand-size;
        border-radius: 50%;
    }
}
