@import "variables";
@import "mixins";
@import "feathericon";
@import "~normalize.css/normalize.css";
@import "~prismjs/themes/prism.css";
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
*,
*::before,
*::after{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: $font-size-browser;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    position: relative;
    background-color: $body-background;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $font-line-height;
    color: $body-color;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
    &:active {
        color: $link-active-color;
    }
    &.disabled{
        color: $disabled-color;
    }
}

img {
    max-width: 100%;
}

@import "extend";
@import "partial/layout";
@import "partial/lists";
@import "partial/footer";
@import "partial/ocean";
@import "partial/siderbar";
@import "partial/article";
@import "partial/highlight";
